.ThoughtBox-container {
  padding-top: 37vh;
}

.ThoughtBox-textbox {
  height: 50px;
  width: 70%;
  background-color: transparent;
  color: white;
  padding-left: 5px;
}

.ThoughtBox-textbox:focus {
  outline: none;
}

/* .ThoughtBox-falling-word {
  display: inline-block;
  animation: falling 6s cubic-bezier(0.4, 0.03, 0.67, 0.15);
  color: white;
}

@keyframes falling {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0px, 1000px, 0) rotate(260deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0px, 1000px, 0) rotate(-260deg);
    opacity: 0;
  }
} */
